@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #6D4F32; /* Marrom escuro */
    --branco: #3E2723; /* Marrom muito escuro */
    --laranja: #D7C3B1; /* Bege suave */
    --azul-degrade: linear-gradient(97.54deg, #D9C4A1 35.49%, #D9C4A1 165.37%); /* Gradient suave de marrom claro */
    --fonte-principal: "Poppins";
    --azul: #FFFFFF; /* Branco (sem alteração) */
    --fonte-secundario: "Josefin Sans";
    --preto: #3E2723; /* Marrom escuro */
    --cinza: #5D4037; /* Marrom escuro */
    --cinza-claro: #A89F91; /* Cinza claro com tom de marrom */
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
