@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #8C6E4B; /* Marrom mais claro */
    --branco: #4E3629; /* Marrom bem escuro, mas mais claro que o anterior */
    --laranja: #F0D4B2; /* Bege mais suave */
    --azul-degrade: linear-gradient(97.54deg, #D9C4A1 35.49%, #F4E4B1 165.37%); /* Gradient suave mais claro */
    --fonte-principal: "Poppins";
    --azul: #FFFFFF; /* Branco (sem alteração) */
    --fonte-secundario: "Josefin Sans";
    --preto: #4E3629; /* Marrom mais claro */
    --cinza: #7D5B3C; /* Marrom mais suave */
    --cinza-claro: #D1C6B1; /* Cinza claro com tom mais suave e mais próximo de bege */
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
